<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

<div class="container">
    <h1 class="center-align">Sign up to our newsletter</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="confirmation green lighten-2">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/" method="post">
        <div class="input-field">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="input-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </form>
</div>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
